*{
    padding: 0;
     margin: 0;
      font-family: 'Nunito', sans-serif;
      font-family: 'Roboto Mono', monospace;
}

body{
    background-position: center;
    background-color: #fff;
}

.logo{
    height: 44px;
    cursor: pointer;
    margin-left: 20px;
}

.contenar{
    display:flex;
    justify-content: left;
    align-items: center;
    background-color:#023e8a ;
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
} 

.top ul  li  {
   list-style: none;
   display: inline-block;
   margin:  30px;

}
.top ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.top ul li :hover{
    color:#c2c5aa;
}


.top p {
 font-size: 15px;
 margin: 30px; 
 color: #fff;
}
.ab{
    display: inline-flexbox;
    justify-content: center;
    height: 65px;
    margin: 100px;  
    background-color: #8ecae6;
}
.ab p{
    text-align: center;
}